.movie-details-card {
    padding: .2em 1em;
    border-top: 2px solid #DFF000;
}
.movie-details-card  h1 {
    color: #8A3200;
}
.movie-details-card p {
    color: #CACACA;
}
.movie-details-card blockquote {
    font-style: italic;
    color: #CACACA;
}
