* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $bg-color-dark;
    padding: .8em;
}
h1,h2,h3,h4,h5,h6,label,span,p,blockquote,th,td {
    color: $color-primary-dark;
}
li, blockquote {
    color: $color-secondary-dark;
}
blockquote {
    font-style: italic;
    font-weight: 300;
}

a {
    color: $color-link-dark;
}
