$bg-color-dark: #2E2E2E;
$bg-color-secondary-dark: rgb(59,59,59);
$bg-color-warning-dark: #cc4b00;
$bg-color-danger-dark: #cc2222;
$color-primary-dark: #EFEFEF;
$color-secondary-dark: #C2C2C2;
$color-accent-dark: #e8ad43;
$color-accent-secondary-dark: #52B252;
$color-link-dark: #556ad4;
$color-warning-dark: black;
