section {
    & > h1 {
        color: $color-accent-dark;
    }
}
.recipe-details-card {
    & > div {
        display: flex;
        justify-content: space-between;

        & > * {
            flex: 1;
        }
    }
    & strong {
        color: $color-accent-secondary-dark;
    }
    & > h2 {
        border-bottom: solid 1px $color-accent-dark;
    }
}
